<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>欢迎光临</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="//i.gtimg.cn/vipstyle/frozenui/2.0.0/css/frozen.css"/>

    <style>
        .block{
            position: relative;
            width:90%;
            padding-left:auto;
            padding-right:auto;
            margin: 0 auto;
        }

        .ui-btn-primary{
            background-color: #02cd93;
            border-color:#02cd93;;
        }

    </style>
</head>
<body>
<div class="block ui-btn-primary">
    <h1>欢迎光临</h1>
</div>
</body>
</html>

